<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <title>我的账单</title>
    <link rel="stylesheet" type="text/css"
          href="../lib/bootstrap-3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <!-- <img src="<%=path %>/images/a.jpg" height="100%" /> -->
                <span>理性消费 健康生活</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="icon-bar" th:href="@{billContent.do}">账单一览</a>
                </li>
                <li><a th:href="@{budget.do}">预算管理</a>
                </li>
                <li><a href="#">账单分类</a>
                </li>
                <li><a th:href="@{usersInfo.do}">个人信息</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{'user.do?user=' + ${username}}" th:text="${username}"></a>
                </li>
                <li><a href="#" th:href="@{logout.do}">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a th:href="@{billContent.do}" class="list-group-item active">
                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;账单一览
            </a>
            <a th:href="@{budget.do}" class="list-group-item">
                <!-- 小图标样式设置 -->
                <span class="glyphicon glyphicon-tasks" aria-hidden="true">
                    </span>&nbsp;&nbsp;预算管理</a>
            <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true">
                    </span>&nbsp;&nbsp;账单分类</a>
            <a th:href="@{usersInfo.do}" class="list-group-item">
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>&nbsp;&nbsp;个人信息</a>
        </div>
        <!--左边菜单栏-->
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">菜单
                </li>
                <li class="active">账单一览
                </li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入名称">
                        </div>
                        <div class="form-group">
                            <label for="name">状态</label>
                            <select class="form-control">
                                <option>上架</option>
                                <option>下架</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--列表展示-->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th style="display:none">账单编号</th>
                        <th>日期</th>
                        <th>类别</th>
                        <th>支付方式</th>
                        <th>金额</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bill, stat: ${pageHelper.getDataList()}">
                        <td style="display: none" th:text="${bill.billNo}">Test001</td>
                        <td th:text="${bill.billDate}">2019-12-31</td>
                        <td th:text="${bill.billType}">交通</td>
                        <td th:text="${bill.payType}">支付宝</td>
                        <td th:text="${bill.amount}">0.00</td>
                        <td th:text="${bill.comment}">不怕，有的是钱！</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default" data-toggle="modal"
                                        data-target="#add_bill">新增
                                </button>
                                <a th:href="@{'edit.do?billNo=' + ${bill.billNo}}" class="btn btn-info">修改</a>
                                <a th:href="@{'delete.do?billNo=' + ${bill.billNo}}" class="btn btn-danger">删除</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pagination" style="float: right;">
                <li>
                    <a href="#" th:href="@{billContent.do?page=1}">&laquo;</a>
                </li>
                <li th:if="${pageHelper.getCurrentPage() - 2} &gt; 0">
                    <a th:text="${pageHelper.getCurrentPage() - 2}"
                       th:href="@{'billContent.do?page=' + ${pageHelper.getCurrentPage() - 2}}">1</a>
                </li>
                <li th:if="${pageHelper.getCurrentPage() - 1} &gt; 0">
                    <a th:text="${pageHelper.getCurrentPage() - 1}"
                       th:href="@{'billContent.do?page=' + ${pageHelper.getCurrentPage() - 1}}">1</a>
                </li>
                <li class="active">
                    <a th:text="${pageHelper.getCurrentPage()}"
                       th:href="@{'billContent.do?page=' + ${pageHelper.getCurrentPage()}}">1</a>
                </li>
                <li th:if="${pageHelper.getCurrentPage() + 1} &lt; ${pageHelper.getTotalPage() + 1}">
                    <a th:text="${pageHelper.getCurrentPage() + 1}"
                       th:href="@{'billContent.do?page=' + ${pageHelper.getCurrentPage() + 1}}">1</a>
                </li>
                <li th:if="${pageHelper.getCurrentPage() + 2} &lt; ${pageHelper.getTotalPage() + 1}">
                    <a th:text="${pageHelper.getCurrentPage() + 2}"
                       th:href="@{'billContent.do?page=' + ${pageHelper.getCurrentPage() + 2}}">1</a>
                </li>
                <li>
                    <a href="#" th:href="@{'billContent.do?page=' + ${pageHelper.getTotalPage()}}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="modal fade" id="add_bill" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>新增账单数据</p>
            </div>
            <div class="modal-body">
                <form th:action="@{newBill.do}" method="post">
                    <div class="form-group">
                        <label for="bill_date">消费日期</label>
                        <input type="date" name="bill_date" class="form-control" id="bill_date" placeholder="消费日期">
                    </div>
                    <div class="form-group">
                        <label for="bill_type">消费类型</label>
                        <select name="bill_type" id="bill_type" class="form-control">
                            <option value="001" selected>餐饮</option>
                            <option value="002">出行</option>
                            <option value="003">衣物</option>
                            <option value="004">3C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pay_type">支付方式</label>
                        <select name="pay_type" id="pay_type" class="form-control">
                            <option value="01" selected>支付宝</option>
                            <option value="02">微信</option>
                            <option value="03">花呗</option>
                            <option value="04">银行卡</option>
                            <option value="05">餐卡</option>
                            <option value="06">现金</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">消费金额</label>
                        <input class="form-control" type="number" name="amount" id="amount" placeholder="消费金额"/>
                    </div>
                    <div class="form-group">
                        <label for="remark">备注</label>
                        <textarea class="form-control" rows="3" name="remark" id="remark" placeholder="备注"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">提交表单</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <!--                <button type="button" οnclick="add_info()" class="btn btn-primary">-->
                <!--                    提交更改-->
                <!--                </button>-->
            </div>
        </div>
    </div>
</div>


<!-- 底部页脚部分 -->
<div class="footer">
    <p class="text-center">
        &copy; 2019-2020 Youyou_2608.
    </p>
</div>

<script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="../lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>